<header class="page-header">
    <div class="site-title">
        <a href="{% if base == "" %}/{% else %}{{ base }}{% endif %}">
            {% include "_shiori_icon.svg" %}
            shiori
        </a>
    </div>
    <button class="menu" popovertarget="header-menu">...</button>
    <div class="popover" id="header-menu" popover="auto">
        <ul>
            <li><a href="{{ base }}/settings">Settings</a></li>
            <li><a href="{{ base }}/auth/signout">Sign Out</a></li>
        </ul>
        <div class="about">
            {% include "_shiori_icon.svg" %}
            <div class="about-text">
                <div class="brand">shiori</div>
                <div class="version">v{{ version }}</div>
                <a href="https://github.com/bouzuya/shiori-web" rel="noopener noreferrer" target="_blank">Source Code</a>
            </div>
        </div>
    </div>
</header>
