<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>shiori</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page-container">
        <header class="page-header">
            <div class="site-title"><a href="{{ base }}/">shiori</a></div>
        </header>
        <main>
            <h1>Bookmark List</h1>
            <div class="new-bookmark-link">
                <a href="{{ base }}/new">New</a>
            </div>

            {% if groups.is_empty() %}
            <div class="no-bookmarks">
                No bookmarks
            </div>
            {% else %}
            {% for group in groups %}
            <div class="bookmark-group">
                <h2 class="bookmark-group-name">{{ group.date }}</h2>
                <ul>
                    {% for item in group.items %}
                    <li>
                        <div class="bookmark-item">
                            <a href="{{ item.url }}" rel="noreferrer noopener" target="_blank">{{ item.title }}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% endif %}
        </main>
        <footer class="page-footer">
            <div><a href="https://github.com/bouzuya/shiori-web">GitHub</a></div>
        </footer>
    </div>
</body>

</html>
