<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>shiori</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page-container">
        <header class="page-header">
            <div class="site-title"><a href="{{ base }}/">shiori</a></div>
        </header>
        <main>
            <h1>{{ title }}</h1>
            <div class="back-link">
                <a href="{{ base }}/">Back</a>
            </div>
            <div>
                <a href="{{ base }}/{{ bookmark_id }}/edit">Edit</a>
            </div>

            <div class="bookmark-detail">
                <div>
                    <a href="{{ url }}" rel="noreferrer noopener" target="_blank">{{ url }}</a>
                </div>
                <div class="bookmark-created-at">{{ created_at }}</div>
                <div class="bookmark-comment">{{ comment }}</div>
            </div>
        </main>
        <footer class="page-footer">
            <div>
                <a href="https://github.com/bouzuya/shiori-web" rel="noopener noreferrer" target="_blank">GitHub</a>
            </div>
        </footer>
    </div>
</body>

</html>
