<!DOCTYPE html>
<html data-color-scheme="{{ color_scheme }}" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Delete {{ title }} - shiori</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page delete-page">
        {% include "_page_header.html" %}
        <main>
            <div class="main-scroll">
                <h1>Delete Bookmark</h1>
                <div class="back-link">
                    <a href="{% if base == "" %}/{% else %}{{ base }}{% endif %}">Back</a>
                </div>

                <form action="{{ base }}/{{ bookmark_id }}?_method=DELETE" class="delete-bookmark-form" method="post">
                    <div class="form-fields">
                        <div class="form-field">
                            <span class="form-label">URL</span>
                            <div class="form-value">{{ url }}</div>
                        </div>
                        <div class="form-field">
                            <span class="form-label">Title</span>
                            <div class="form-value">{{ title }}</div>
                        </div>
                        <div class="form-field">
                            <span class="form-label">Comment</span>
                            <div class="form-value">{{ comment }}</div>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>
