<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>shiori</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page-container">
        <header class="page-header">
            <div class="site-title"><a href="{{ base }}/">shiori</a></div>
        </header>
        <main>
            <h1>Sign Up or Sign In</h1>
            <div class="sign-up-link">
                <a href="{{ base }}/auth/signup">Sign Up</a>
            </div>
            <div class="sign-in-link">
                <a href="{{ base }}/auth/signin">Sign In</a>
            </div>
        </main>
        <footer class="page-footer">
            <div>
                <a href="https://github.com/bouzuya/shiori-web" rel="noopener noreferrer" target="_blank">GitHub</a>
            </div>
        </footer>
    </div>
</body>

</html>
