<!DOCTYPE html>
<html data-color-scheme="{{ color_scheme }}" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>shiori</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page-container">
        <header class="page-header">
            <div class="site-title"><a href="{% if base == "" %}/{% else %}{{ base }}{% endif %}">shiori</a></div>
        </header>
        <main class="list-page">
            <h1>Bookmark List</h1>
            <div class="new-bookmark-link">
                <a href="{{ base }}/new">New</a>
            </div>

            {% if groups.is_empty() %}
            <div class="no-bookmarks">
                No bookmarks
            </div>
            {% else %}
            {% for group in groups %}
            <div class="bookmark-group">
                <h2 class="bookmark-group-name">{{ group.date }}</h2>
                <ul>
                    {% for item in group.items %}
                    <li>
                        <div class="bookmark-item">
                            <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
                            <div>
                                <button class="detail" popovertarget="menu-{{ item.id }}">...</button>
                                <div class="popover" id="menu-{{ item.id }}" popover="auto">
                                    <ul>
                                        {% if let Some(share_url) = item.share_url %}
                                        <li><a href="{{ share_url }}" rel="noopener noreferrer"
                                                target="_blank">Share</a></li>
                                        {% endif %}
                                        <li><a href="{{ base }}/{{ item.id }}">Edit</a></li>
                                        <li><a href="{{ base }}/{{ item.id }}/delete">Delete</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% endif %}

            {% if prev_page_token.is_some() || next_page_token.is_some() %}
            <div class="pagination">
                <div class="pagination-item">
                    {% if let Some(prev_page_token) = prev_page_token %}
                    <a href="{% if base == "" %}/{% else %}{{ base }}{% endif %}?page_token={{ prev_page_token }}">Prev</a>
                    {% endif %}
                </div>
                <div class="pagination-item">
                    {% if let Some(next_page_token) = next_page_token %}
                    <a href="{% if base == "" %}/{% else %}{{ base }}{% endif %}?page_token={{ next_page_token }}">Next</a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </main>
        <footer class="page-footer">
            <div>
                <a href="{{ base }}/settings">Settings</a>
            </div>
            <div>
                <a href="{{ base }}/auth/signout">Sign Out</a>
            </div>
            <div>
                <a href="https://github.com/bouzuya/shiori-web" rel="noopener noreferrer" target="_blank">GitHub</a>
            </div>
        </footer>
    </div>
</body>

</html>
