<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>New Bookmark</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page-container">
        <header class="page-header">
            <div class="site-title"><a href="{{ base }}/">shiori</a></div>
        </header>
        <main>
            <h1>New Bookmark</h1>
            <div class="back-link">
                <a href="{{ base }}/">Back</a>
            </div>
            <form class="new-bookmark-form" action="{{ base }}/" method="post">
                <div class="form-fields">
                    <div class="form-field">
                        <label for="url">URL</label>
                        <input id="url" type="url" name="url" required>
                    </div>
                    <div class="form-field">
                        <label for="title">Title</label>
                        <input id="title" type="text" name="title">
                    </div>
                    <div class="form-field">
                        <label for="comment">Comment</label>
                        <input id="comment" type="text" name="comment">
                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit">Add</button>
                </div>
            </form>
        </main>
        <footer class="page-footer">
            <div>
                <a href="https://github.com/bouzuya/shiori-web" rel="noopener noreferrer" target="_blank">GitHub</a>
            </div>
        </footer>
    </div>
</body>

</html>
