<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>New Bookmark</title>
    <link rel="stylesheet" href="{{ base }}/index.css">
</head>

<body>
    <div class="page-container">
        <header class="page-header">
            <div class="site-title"><a href="{{ base }}/">shiori</a></div>
        </header>
        <main>
            <h1>New Bookmark</h1>
            <form action="{{ base }}/" method="post">
                <label>URL: <input type="url" name="url" required></label><br>
                <label>Title: <input type="text" name="title"></label><br>
                <label>Comment: <input type="text" name="comment"></label><br>
                <button type="submit">Add</button>
            </form>
        </main>
        <footer class="page-footer">
            <div><a href="https://github.com/bouzuya/shiori-web">GitHub</a></div>
        </footer>
    </div>
</body>

</html>
