<!DOCTYPE html>
<html data-color-scheme="{{ color_scheme }}" lang="ja">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Settings - shiori</title>
    <link href="{{ base }}/favicon.svg" rel="icon" type="image/svg+xml">
    <link href="{{ base }}/index.css" rel="stylesheet">
</head>

<body>
    <div class="page settings-page">
        {% include "_page_header.html" %}
        <main>
            <div class="main-scroll">
                <h1>Settings</h1>
                <div class="back-link">
                    <a href="{% if base == "" %}/{% else %}{{ base }}{% endif %}">Back</a>
                </div>
                <form action="{% if base == "" %}/settings?_method=PUT{% else %}{{ base }}/settings?_method=PUT{% endif %}"
                    class="settings-form" method="post">
                    <div class="form-fields">
                        <fieldset class="form-field">
                            <legend>Color Scheme</legend>
                            <div class="radio-group">
                                <label>
                                    <input name="color_scheme" type="radio" value="system" {% if color_scheme=="system"
                                        %}checked{% endif %}>
                                    System
                                </label>
                                <label>
                                    <input name="color_scheme" type="radio" value="light" {% if color_scheme=="light"
                                        %}checked{% endif %}>
                                    Light
                                </label>
                                <label>
                                    <input name="color_scheme" type="radio" value="dark" {% if color_scheme=="dark"
                                        %}checked{% endif %}>
                                    Dark
                                </label>
                            </div>
                        </fieldset>
                        <fieldset class="form-field">
                            <legend>UTC Offset</legend>
                            <select name="utc_offset">
                                <option value="-12:00" {% if utc_offset=="-12:00" %}selected{% endif %}>-12:00</option>
                                <option value="-10:00" {% if utc_offset=="-10:00" %}selected{% endif %}>-10:00</option>
                                <option value="-08:00" {% if utc_offset=="-08:00" %}selected{% endif %}>-08:00</option>
                                <option value="-05:00" {% if utc_offset=="-05:00" %}selected{% endif %}>-05:00</option>
                                <option value="-03:00" {% if utc_offset=="-03:00" %}selected{% endif %}>-03:00</option>
                                <option value="+00:00" {% if utc_offset=="+00:00" %}selected{% endif %}>+00:00</option>
                                <option value="+01:00" {% if utc_offset=="+01:00" %}selected{% endif %}>+01:00</option>
                                <option value="+03:00" {% if utc_offset=="+03:00" %}selected{% endif %}>+03:00</option>
                                <option value="+05:30" {% if utc_offset=="+05:30" %}selected{% endif %}>+05:30</option>
                                <option value="+08:00" {% if utc_offset=="+08:00" %}selected{% endif %}>+08:00</option>
                                <option value="+09:00" {% if utc_offset=="+09:00" %}selected{% endif %}>+09:00</option>
                                <option value="+10:00" {% if utc_offset=="+10:00" %}selected{% endif %}>+10:00</option>
                                <option value="+12:00" {% if utc_offset=="+12:00" %}selected{% endif %}>+12:00</option>
                                <option value="+14:00" {% if utc_offset=="+14:00" %}selected{% endif %}>+14:00</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-field">
                            <legend>Share URL</legend>
                            <input maxlength="2048" name="share_url" type="text" value="{{ share_url }}">
                        </fieldset>
                    </div>
                    <div class="form-submit">
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>
